In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ISLP import load_data

In [2]:
boston = load_data('Boston')
boston.head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,17.10,18.9

In [10]:
import statsmodels
from statsmodels.stats.outliers_influence import variance_inflation_factor

variance_inflation_factor(boston, 1)

for i in range(boston.shape[1]):
    print(f"this is the {i}-th VIF")
    print(variance_inflation_factor(boston, i))

this is the 0-th VIF
2.120842492112975
this is the 1-th VIF
2.909051628170564
this is the 2-th VIF
14.450083709824344
this is the 3-th VIF
1.1755010657947478
this is the 4-th VIF
73.08805070873994
this is the 5-th VIF
135.80498447231375
this is the 6-th VIF
21.354455409837925
this is the 7-th VIF
15.13141427136665
this is the 8-th VIF
14.809245127764212
this is the 9-th VIF
61.87932420344642
this is the 10-th VIF
79.41943935634332
this is the 11-th VIF
12.611934699309408
this is the 12-th VIF
23.073167958001036

In [25]:
X = boston['lstat']
intercept = pd.Series(np.ones(boston.shape[0]))
X = pd.concat([X, intercept], axis = 1)
X.columns = ['lstat', 'intercept']
y = boston['medv']
y.head(10)

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
5    28.7
6    22.9
7    27.1
8    16.5
9    18.9
Name: medv, dtype: float64

In [48]:
import statsmodels.api as sm 

model = sm.OLS(y, X)
result = model.fit()
result.params

lstat        -0.950049
intercept    34.553841
dtype: float64